/*

The style.css sheet will contain the styling for the entire website. This is as
it is generally considered good practice to keep CSS in one file, for a multit-
ude of reasons, such as faster load times to due caching, easy maintenance, etc

The first section  of the style sheet will be used  to create global variables,
to ensure consistency across different pages of the website. These variables w-
ill be referenced further in the file, such that a change to one variable will
cause a change across the entire website.

*/
:root { /* Global variables in the root of the site is considered best practice. */
    --footer-height: 200px;
    --primary-green: rgb(33, 95, 44);
    --primary-white: rgb(255, 255, 255);
    --primary-red: #be1622;
    --secondary-red: #ffe2e0;
    --form-deselected: rgb(95, 95, 95);
    --header-green: linear-gradient(0deg, rgba(10,96,16,1) 0%, rgba(9,121,17,1) 47%, rgba(25,142,24,1) 100%);
    --header-blue: #153050;
    --background-blue: #374A60
}

* { /* Some behaviour enforced by default by the browser must be overridden. */
    margin: 0%;
    font-family: sans-serif;
    font-weight: 2;
}

.flex_container { /* Some flexbox behaviour will need to be replicated across the site. */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

/* 

Make the required changes to the CSS to create a sticker footer, the most comm-
on type of footer.

*/
html, body {
    height: 100%;
}
body.members {
    background-color: var(--background-blue);
}
#footerWrap {
    min-height: calc(100% - 25px);
}
#footer {
    position: relative;
    height: var(--footer-height);
    margin-top: calc(var(--footer-height) * -1);
    clear: both;
}
#main {
    overflow: auto;
}
#fgcMap {
    width: 70%;
    height: 200px;
}

/*

The next sections to be styled will be any templates, such as the header and f-
ooter. These will be given a unique ID so the styling doesn't clash and to make
editing the style in the future an easier process.

*/
/* Header and navigation: */
#header {
    padding: 35px;
    box-shadow: 0px 1px 25px var(--primary-green);
    display: flex;
    background: var(--header-green);
    align-items: center;
}
#header.members {
    padding: 35px;
    box-shadow: 0px 1px 25px #153050;
    background: var(--header-blue);
}
#header #title {
    color: var(--primary-white);
    text-decoration: none;
    font-weight: bolder;
    width: 65%;
}
#header #navigation {
    width: 35%;
}
#header #navigation ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    width: 100%;
}
#header #navigation a {
    color: var(--primary-white);
    text-decoration: none;
    text-align: center;
    display: block;
}

/* Footer: */
#footer {
    background: var(--header-green);
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    align-self: center;
    justify-content: space-around;
}
#footer.members {
    background: var(--header-blue);
}
#footer p, #footer a, #footer h2 {
    color: var(--primary-white);
}
iframe {
    border: 2px solid var(--primary-white);
}


/*

This section will be used to  configure the global features  for the page. The
margins will be set  such that they don't touch the  sides of the web page, as
this makes the page look too wide (unless on a mobile device).

*/
#main {
    width: auto;
    margin: 25px 10%;
    padding-bottom: var(--footer-height);
}

a:not(:visited) { /* Set links to green. */
    color: var(--primary-green);
}

/*

The next section will be used to style the forms on the login/signup pages

*/
#login_benefits, #signup_benefits {
    width: 70%;
}
#login_form, #signup_form {
    width: 75%;
}
#login_form label::after, #login_form label::before, #signup_form label::after, #signup_form label::before {
    content: "\a";
    white-space: pre;
}
#login_form > *, #signup_form > * {
    width: 50%;
}
#login_form input, #signup_form input {
    border: 1.5px solid var(--form-deselected);
    border-radius: 5px;
    transition: border-color 0.5s, box-shadow 0.5s;
    height: 30px;
    padding-left: 10px;
}
#login_form input:hover, #signup_form input:hover {
    border-color: var(--primary-green);
    box-shadow: 0px 1px 5px var(--primary-green);
}
#login_form input[name="submit"], #signup_form input[name="submit"] {
    width: 10%;
    border: 2px solid var(--primary-green);
    border-radius: 5px;
    color: var(--primary-green);
    background-color: var(--primary-white);
    transition: background-color 0.5s, color 0.5s;
}
#login_form input[name="submit"]:hover, #signup_form input[name="submit"]:hover {
    background-color: var(--primary-green);
    color: var(--primary-white);
}
#sign_up_button, #login_button {
    padding: 5px 15px;
    border: 2px solid var(--primary-green);
    border-radius: 5px;
    color: var(--primary-green);
    background-color: var(--primary-white);
    text-decoration: none;
    font-size: small;
    transition: background-color 0.5s, color 0.5s;
    margin: auto;
}
#sign_up_button:hover, #login_button:hover {
    background-color: var(--primary-green);
    color: var(--primary-white);
}
label.required:after {
    content: " *"!important;
    color: red;
}

/*
Style all message boxes.
*/
.message_box {
    width: 70%;
    padding: 2.5% 0px;
    margin-bottom: 20px;
}
.message_box, .error {
    background-color: var(--secondary-red);
    border-radius: 5px;
    color: var(--primary-red);
    text-align: center;
}
.message_box h2 {
    font-weight: 1000;
}
.message_box, .error a {
    color: var(--primary-red)!important;
}

/*
Style content for logged in users
 */
body.members h1 {
    color: var(--primary-white);
}
body.members #teeSheetBox {
    height: 200px;
    overflow: auto;
    overscroll-behavior-y: none;
    border: 2px solid var(--primary-white);
    border-collapse: collapse;
}
#tee_sheet_overview {
    width: 50%;
}
body.members #tee_sheet_overview h2, body.members #booking_tee_sheet h2 {
    color: var(--primary-white);
    text-align: center;
}
body.members table.teeSheet {
    border: 1px solid var(--primary-white);
    border-collapse: collapse;
    color: var(--primary-white);
    table-layout: fixed;
    text-align: center;
    width: 100%;
    overscroll-behavior-y: none;
}
body.members table.teeSheet th, body.members table.teeSheet td {
    border: 1px solid var(--primary-white);
    height: 25px;
}
body.members table.teeSheet td:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}
body.members table.teeSheet tr:first-child {
    position: sticky;
    top: 0;
    background-color: var(--primary-white);
    border: 1px solid rgba(0, 21, 64, 0.95);
    color: rgba(0, 21, 64, 0.95);
}
#btn_new_booking input, #date_selector_tee_sheet input, #ds_w_calendar input {
    background: none;
    border: 1px solid var(--primary-white);
    border-radius: 5px;
    color: var(--primary-white);
    transition: 0.5s;
    font-weight: 1000;
}
#dateSelector {
    display: flex;
    justify-content: space-around;
}
#date_selector_tee_sheet input, #ds_w_calendar input {
    font-size: medium;
    padding: 0px 15px;
    height: 100%;
}
#btn_new_booking input:hover, #date_selector_tee_sheet input:hover, #ds_w_calendar input:hover {
    background-color: var(--primary-white);
    color: var(--background-blue);
}