/*

The style.css sheet will contain the styling for the entire website. This is as
it is generally considered good practice to keep CSS in one file, for a multit-
ude of reasons, such as faster load times to due caching, easy maintenance, etc

The first section  of the style sheet will be used  to create global variables,
to ensure consistency across different pages of the website. These variables w-
ill be referenced further in the file, such that a change to one variable will
cause a change across the entire website.

*/
:root { /* Global variables in the root of the site is considered best practice. */
    --primary-green: rgb(33, 95, 44);
}

* { /* Some behaviour enforced by default by the browser must be overridden. */
    margin: 0%;
    font-family: sans-serif;
}

/*

The next sections to be styled will be any templates, such as the header and f-
ooter. These will be given a unique ID so the styling doesn't clash and to make
editing the style in the future an easier process.

*/
#header {
    background-color: var(--primary-green);
    height: 75px; /* Static units are used as the height of the header will never change */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#header #company_title { /* Override the default margins of the object */
    height: 100%;
    color: white;
    vertical-align: middle;
}
#header #navigation {
    height: 100%;
}
#header #navigation a {
    height: 100%;
    vertical-align: middle;
}